/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') */

:root {
  background-color: #141414;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Starts */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #a9afc3;
}

.logo {
  font-size: 25px;
}

.logo-link{
  color: #a9afc3;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu li {
  list-style: none;
  margin-left: 40px;
}

.nav-menu .cart {
  color: #a9afc3;
}

.search-bar {
  position: relative;
  top: 20px;
}

.search-bar input {
  padding: 10px;
  width: 600px;
  margin-right: 150px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: white;
  position: relative;
  top: 20px;
}

.search-bar span {
  position: absolute;
  right: 160px;
  top: 25px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.search {
  cursor: pointer;
}

.user-info {
  cursor: pointer;
}

@media screen and (max-width : 1050px) and (min-width : 900px) {
  .search-bar input {
    width: 350px;
    margin-left: 100px;
    margin-right: 0;
  }
}

@media screen and (max-width : 900px) {
  .search-bar input {
    width: 100px;
    margin-left: 100px;
    margin-right: 0;
  }
}

@media only screen and (max-width : 700px) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10px;
  }

  .header .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .nav-menu li {
    margin-left: 10px;
  }
}

/* Header Ends */
















/* Footer Starts */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: black;
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #a9afc3;
}

.column-2,
.column-3,
.column-4 li {
  list-style: none;
  line-height: 2.3rem;
  color: gray;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.column-1 {
  color: gray;
  font-family: "Poppins", sans-serif;
  width: 20%;
}

.column-1 input {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 90%;
  background-color: black;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 15px;
}

.column-1 button {
  padding: 10px;
  width: 8rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: red;
}

.column-2 li:hover {
  color: rgb(167, 167, 167);
}

.column-3 li:hover {
  color: rgb(167, 167, 167);
}

.column-4 li:hover {
  color: rgb(167, 167, 167);
}

@media only screen and (max-width : 768px) and (min-width : 450px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .column-1 {
    width: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width : 450px) and (min-width:375px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 80px;
  }

  .column-1 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-2 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-3 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-4 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media only screen and (max-width : 375px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 50px;
  }

  .column-1 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-2 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-3 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .column-4 {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
}


/* Footer Ends */



















/* Credit Part Start */
.credit {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.credit li {
  list-style: none;
  margin-left: 20px;
}

.credit .icons {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 10px; */
}

.credit .para a {
  text-decoration: none;
  color: #a9afc3;
}

hr {
  margin: 0;
  color: gray;
}


@media only screen and (max-width:768px) and (min-width:550px) {
  .credit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .credit .icons {
    margin-left: -100px;
  }
}

@media only screen and (max-width:550px) and (min-width : 375px) {
  .credit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 50px;
  }

  .credit .icons {
    margin-left: -60px;
  }
}

@media only screen and (max-width : 375px) {
  .credit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 50px;
  }

  .credit .icons {
    margin-left: -40px;
  }
}

/* Credit Part End */

















/* Hero banner Card */

.hero-banner {
  width: 100%;
  height: 650px;
  /* Background color */
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.hero-text {
  position: absolute;
  z-index: -1;
  top: 10px;
  font-size: 15rem;
  color: rgba(255, 255, 255, 0.5);
  /* Text color */
  margin: 0;
  padding: 0 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  filter: brightness(20%);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  align-items: center;
  /* width: 100%; */
  margin-left: 250px;
  box-sizing: border-box;
  line-height: 50px;
}

.card-content h3 {
  font-size: 30px;
  font-weight: 600;
}

.card-content h2 {
  margin-top: -10px;
  font-size: 40px;
  font-weight: 600;
}

.card-content del {
  color: rgba(255, 255, 255, 0.5);
}

.card-content p {
  font-size: 20px;
  font-weight: 600;
}

.button {
  background-color: red;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.card-content {
  width: 500px;
  margin-left: -200px;
  color: #a9afc3;
  font-family: "Poppins", sans-serif;
}

.image-container-slider {
  text-align: right;
  width: 100%;
  align-items: right;
}

.image {
  /* max-width: 100%;
  max-height: 100%; */
  height: 450px;
  width: fit-content;
}

.discounted-price {
  margin-top: -10px;
  /* margin-right: 50px; */
}

.original-price {
  margin-left: 50px;
}

/* Add this CSS to your stylesheet */
.custom-dot {
  /* Define styles for inactive dots */
  background-color: gray;
}

.custom-dot.slick-active {
  /* Define styles for active dot */
  background-color: red;
}

@media screen and (max-width : 1024px) and (min-width : 850px) {
  .hero-banner {
    /* width: 90%; */
    height: 600px;
    padding-top: 20px;
  }

  .hero-text {
    font-size: 12rem;
    margin-left: -70px;
  }

  .image-container-slider {
    width: 80%;
    margin-right: 200px;
  }

}

@media screen and (max-width : 850px) and (min-width : 500px) {
  .hero-banner {
    /* width: 90%; */
    height: 550px;
    padding-top: 0px;
  }

  .hero-text {
    font-size: 10rem;
    margin-left: -80px;
  }

  .content h2 {
    font-size: 25px;
    margin-top: -30px;
  }

  .image-container-slider {
    width: 80%;
    margin-right: 200px;
  }

}

@media screen and (max-width : 500px) and (min-width : 400px) {
  .hero-banner {
    /* width: 90%; */
    height: 300px;
    padding-top: 10px;
  }

  .hero-text {
    font-size: 5rem;
    margin-left: -70px;
  }

  .content h2 {
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: -10px;
  }

  .content h3 {
    font-size: 16px;
  }

  .image-container-slider {
    width: 40%;
    margin-right: 200px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .discounted-price {
    margin-top: -20px;
    /* margin-right: 50px; */
  }

  .card-content p {
    font-size: 16px;
  }

  .original-price {
    margin-left: 50px;
  }

}

@media screen and (max-width : 400px) and (min-width : 300px) {
  .hero-banner {
    /* width: 90%; */
    height: 250px;
    padding-top: 20px;
  }

  .hero-text {
    font-size: 5rem;
    margin-left: -85px;
  }

  .content h2 {
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: -10px;
  }

  .content h3 {
    font-size: 14px;
  }

  .image-container-slider {
    width: 40%;
    margin-right: 200px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: -20px;
  }

  .discounted-price {
    margin-top: -20px;
    margin-bottom: -10px;
    /* margin-right: 50px; */
  }

  .card-content p {
    font-size: 16px;
  }

  .original-price {
    margin-left: 50px;
  }

}


/* Hero banner Card */
















/* Featured Product SLider */
.featured-products {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.product-card {
  /* padding: 20px; */
  text-align: center;
  height: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
}

.product-image {
  /* width: 100%; */
  height: fit-content;
  object-fit: cover;
  /* Ensures the image covers the container */
  border-radius: 8px;
}

.product-price {
  font-size: 16px;
  color: #666;
}

.slider-container {
  width: 95%;
  margin: auto;
}

.slick-slide {
  transition: all 0.3s;
  /* width: 100px; */
}

.slick-slide img {
  width: 80%;
  margin-left: 30px;
  height: auto;
}

.slick-center {
  transform: scale(1.2);
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 60px;
}

.slick-slide:not(.slick-center) {
  opacity: 0.6;
}

.slick-slide:not(.slick-center):hover {
  opacity: 0.8;
}

.slider-container {
  margin-top: 100px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .product-card {
    width: 45%;
    /* Two cards per row */
  }

  .product-name {
    font-size: 10px;
    font-weight: 500;
  }

  .product-price {
    font-size: 14px;
    color: #666;
  }
}

@media screen and (min-width: 1024px) {
  .product-card {
    width: 30%;
    /* Three cards per row */
  }

  .product-name {
    font-size: 15px;
    font-weight: 500;
  }

  .product-price {
    font-size: 16px;
    color: #666;
  }
}

@media screen and (max-width: 500px) {
  .product-card {
    width: 90%;
    /* Single product per row */
  }
}

/* Featured Products */















/* Top product cards */

.topproducts {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  /* color: black; */
}

.topproducts h2 {
  text-align: center;
}

.topproducts-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  color: white;
}

.topproducts-1 button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.menu-btn {
  display: none;
}

i {
  color: red;
  margin-right: 5px;
}

.topproducts-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: white;
}

.topproducts-2>div {
  background-color: #141414;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  width: calc(25% - 20px);
  /* Four cards in a row */
  max-width: 300px;
  /* Adjust card width as needed */
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 100%;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 0;
  display: grid;
  place-content: center;
}

.image-container img {
  width: 250px;
  height: 250px;
  padding: 20px 0px;
}

.product-details {
  padding: 10px;
}

.product-style {
  text-decoration: none;
}

.product-style {
  color: gray;
}

.product-details h6 {
  font-size: 24px;
  font-weight: 600;
  color: #a9afc3;
}

.product-details>p {
  color: gray;
}

.price-tag {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #a9afc3;
}

.price-tag span {
  margin-left: 100px;
}

section {
  padding: 10px 0;
}

section p {
  margin: 0;
}

section h6 {
  margin: 10px 0;
}

section hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

section p .original {
  color: #999;
  text-decoration: line-through;
}

button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn {
  width: 100%;
  background-color: red;
  font-size: 16px;
  color: rgb(201, 201, 201);
}

.browse {
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.browse:hover {
  background-color: #292929;
}

.browse p {
  font-size: 35px;
  font-weight: 250;
  line-height: 45px;
  margin-left: 45px;
}

/* Media Query for smaller screens */

/* Media Query for responsiveness */
@media screen and (max-width: 1200px) {
  .topproducts-2>div {
    width: calc(33.33% - 20px);
    /* Three cards in a row */
  }
}

@media screen and (max-width: 768px) {
  .topproducts-2>div {
    width: calc(50% - 20px);
    /* Two cards in a row */
  }
}

@media screen and (max-width: 576px) {
  .topproducts-2>div {
    width: calc(100% - 20px);
    /* Single card in a row */
  }

  .price-tag {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}


/* Top product cards */
















/* Services Start */
.adv-heading {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

.adv-heading h2 {
  margin-top: 100px;
  text-align: center;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 100px;
}

.each-adv {
  display: flex;
  align-items: center;
}

.adv-icons {
  margin-right: 20px;
  font-size: 35px;
  color: red;
}

.adv-content div {
  font-size: 18px;
  font-weight: 700;
  color: #a9afc3;
}

.adv-content p {
  color: gray;
}


@media screen and (max-width : 1024px) and (min-width : 600px) {
  .advantages {
    grid-template-columns: repeat(2, 1fr);
  }

  .each-adv {
    margin-bottom: 50px;
  }
}

@media screen and (max-width : 600px) {
  .advantages {
    grid-template-columns: repeat(1, 1fr);
  }

  .each-adv {
    margin-bottom: 50px;
  }
}

/* Services Start */


































/* Buy Products */
.product-page {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 100px;

}

.product-filter {
  background-color: #1f1f1f;
  padding: 0 20px 20px 20px;
  height: fit-content;
  /* height: 95vh; */
}

.product-filter label {
  color: rgb(167, 167, 167);
  font-weight: 400;
  margin-left: 10px;
}

.sort-by li {
  list-style: none;
  font-weight: 300;
  color: rgb(167, 167, 167);
  cursor: pointer;
}

.sort-by li:hover {
  color: rgb(197, 196, 196);
}

.price-range {
  color: #a9afc3;
}

.sort-by,
.filter-by h3 {
  color: #a9afc3;
}

.sort-by,
.filter-by h4 {
  color: #a9afc3;
}

#range {
  background: gray;
}

i {
  color: red;
  margin-right: 5px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: white;
}

.product-cards>div {
  background-color: #141414;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  width: calc(33% - 20px);
  /* Four cards in a row */
  max-width: 300px;
  /* Adjust card width as needed */
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-images {
  width: 100%;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 0;
  display: grid;
  place-content: center;
}

.product-images img {
  width: 250px;
  height: 250px;
  padding: 20px 0px;
}

.product-detail {
  margin: 0 10px;
}

.product-detail h6 {
  font-size: 24px;
  font-weight: 600;
  color: #a9afc3;
}

.product-detail>p {
  color: gray;
}

.product-detail p {
  color: gray;
}

.price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #a9afc3;
}

.price span {
  margin-left: 100px;
}

.product-detail {
  padding: 10px 0;
}

.product-detail p {
  margin: 0;
}

.product-detail h6 {
  margin: 10px 0;
}

.product-detail hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.product-detail p span {
  color: #999;
  text-decoration: line-through;
}

button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-add-to-cart-btn {
  width: 100%;
  background-color: red;
  font-size: 16px;
  color: rgb(201, 201, 201);
}

/* Add styles for mobile menu */
.hamburger-menu {
  display: none;
}

.menu-bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.filter-content {
  display: none;
}

.show-filter {
  display: block;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .product-page {
    grid-template-columns: 100%;
    padding: 20px;
  }

  .product-filter {
    height: auto;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .product-filter label {
    display: block;
    margin-top: 10px;
  }

  .product-cards>div {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .product-cards>div {
    width: calc(100% - 20px);
  }
}



/* Media Query for responsiveness */
@media screen and (max-width: 1200px) {
  .product-cards>div {
    width: calc(33.33% - 20px);
    /* Three cards in a row */
  }
}

@media screen and (max-width: 768px) {
  .product-cards>div {
    width: calc(50% - 20px);
    /* Two cards in a row */
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    color: red;
    position: absolute;
    z-index: 100;

  }

  .filter-content {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .product-cards>div {
    width: calc(100% - 20px);
    /* Single card in a row */
  }

  .price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .product-page {
    grid-template-columns: 100%;
    padding: 20px;
  }

  .product-filter {
    height: auto;
    display: none;
    /* Hide the filter section by default */
  }

  .show-filter {
    display: block;
    /* Show the filter section when the menu is open */
  }

  .product-filter label {
    display: block;
    margin-top: 10px;
  }
}



/* Top product cards */




















/* Buy Products Page */

#max-price {
  accent-color: red;
  width: 90%;
}

.brands,
.category input {
  accent-color: gray;
}

.latest-product:checked {
  color: red !important;
}

.clear-filter-btn {
  /* display: grid;
  place-content: center; */

  margin-left: 40px;
  margin-top: 20px;
  background-color: red;
  font-size: 18px;
}

/* Buy Products Page */



















/* Login/Signup Page */

.login-form {
  width: 400px;
  height: fit-content;
  background-color: #1f1f1f;
  position: absolute;
  left: 550px;
  top: 100px;
  z-index: 2;
  padding: 20px 50px;
}

.login-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid gray;
  outline: none;
  border-radius: 5px;
  color: white;
}

.login-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.login-subtitle span {
  color: white;
  cursor: pointer;
}

.login-form h3 {
  margin-bottom: 0;
}

.login-form .login-btn {
  width: 100%;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-form .form-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(21, 21, 21);
  padding: 5px;
  font-size: 16px;
  border-radius: 0;
}

.login-form .login-options {
  position: relative;
  top: -23px;
  left: 125px;
  background-color: #1f1f1f;
  padding: 0 20px;
}

.login-btn-options button {
  background-color: red;
  width: 30%;
  border-radius: 0;
  padding: 15px;
  font-size: 16px;
}

.login-btn-options {
  display: flex;
  justify-content: space-between;
}

.login-btn-options button:first-child {
  background-color: #3b5998;
}

.login-btn-options button:last-child {
  background-color: #1da1f2;
}





/* Login/Signup Page */








/* Info */
.productsinfo {
  color: white;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  padding: 0 100px;
  font-family: "Poppins", sans-serif;
}

.productsinfo .productsinfo-1 img {
  margin: 10px;
  border: 1px solid silver;
}

.productsinfo .productsinfo-1 {
  padding: 0 125px 100px 20px;
  /* margin-top: -50px; */
}

.productsinfo section img {
  max-width: 100%;
}

.productsinfo section h6 {
  font-size: 24px;
}

.productsinfo section div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.productsinfo-3 {
  margin-left: 50px;
}

.productsinfo-3 h6 {
  font-weight: 700;
  color: #a9afc3;
}

.product-image-iteration {
  cursor: pointer;
}

.productsinfo-3 .pro-info {
  color: #a9afc3;
}

.productsinfo-3 .rating-reviews-no {
  color: gray;
}

.productsinfo-3 .price-related-content h6 {
  font-size: 36px;
  color: #babfcf;
}

.price-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-content button {
  margin-left: 100px;
}

.productsinfo-3 .price-related-content h6 del {
  font-size: 24px;
  color: gray;
  margin-left: 20px;
}

.discount-calculated {
  color: green;
}

.productsinfo hr {
  margin-top: 30px;
}

.productsinfo-3 .product-offers-discount {
  color: #a9afc3;
  margin-top: 40px;
  margin-bottom: 15px;
}

.price-related-content .product-taxes {
  color: gray;
  font-size: 14px;
}

.productsinfo-3 div section button {
  background-color: green;
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 4px;
}

.border {
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #1f1f1f;
  color: #a9afc3;
}

.creditcard-emi .border {
  font-size: 15px;
}

#cart {
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 50%;
  height: auto;
  color: white;
}

.productsinfo section p {
  font-size: 16px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.prddetails {
  background-color: black;
  color: white;
}

.details p {
  cursor: pointer;
  padding: 5px;
}

.details p:hover {
  background-color: red;
}





























/* Search Results */
.search-results {
  position: absolute;
  top: 95px;
  left: 455px;
  width: 600px;
  background-color: #292929;
  padding: 10px;
}

.search-results li {
  margin-left: 2px;
  list-style: none;
}

.search-results li:hover {
  background-color: #474747;
}

.product-title-search {
  text-decoration: none;
  color: rgb(181, 179, 179);
  padding-left: inherit;
  /* border: 1px solid ; */
}

.product-title-search hr {
  margin-top: -100px;
  width: 100%;
}

/* Search Results */




















/* Overview */
.specification-data {
  width: 30%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

.specification-data div {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  color: #a9afc3;
}

.dynamic-specification-data {
  font-size: 18px;
  font-weight: 600;
}

.product-overview-details {
  padding: 30px 120px;
  font-family: "Poppins", sans-serif;
}






.review-person-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  background: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-data {
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.each-review {
  margin-bottom: 30px;
}

/* Overview */